html{
scroll-behavior: smooth;
}
body{
    display:flex;
    margin:0;
    padding: 0;
}
footer{
    width: 1440px;
    height: 226px;
position:absolute;
left:0;
top:4252px;
background: #304F71;
display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
/*background-size: cover;*/
}
.gotopbtn{

    text-decoration: none;
    text-align: center; line-height: 50px;
    color:#F5F8F5;
    font-size: 22px;  
position: absolute;
width: 66px;
height: 66px;
left: 1338px;
top: 4219px;
background: #989E6C;
border-radius: 40px;
}
.fas{
    padding: 22px;
}
img{
display:flex;
align-items: center;
justify-content: center;
flex-direction: column; 
left: 50%;
right: 9.77%;
top: 8.33%;
bottom: 8.33%;

}
image{
position: absolute;
display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 652px;
top: 4361px; 
}
p{
    font-family: Poppins helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    color: #F5F8F5;
    left: 437px;
top: 4598px;
}
div{
    padding: 10px;
    top: 150px;
    position: absolute;
}